@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
@import "./_variables";

body {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 55% 45%;

    #carouselExampleControls{
    
        .nav {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            z-index: 1;
            padding:5%;
            position: absolute;

            .logo {
                padding: 0;
                margin: 0;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
            }

            li {
                padding: 0 2em;

                a {
                    color:$white;
                    font-family: $fontFamily;
                    text-decoration: none;
                }
            }
        }

        .carousel-inner {
            width:100%;
            background-color: #777;
        }
    }

    #header-details {
        background-color: rgb(247, 247, 247);
        position: relative;

        #wrapper {
            padding:8em;
        }


        #carousel-arrows {
        position: absolute;
        bottom:100px;
    
            .left {
                position: absolute;
                background-color: black;
                border: none;
                width:100px;
                height:100px;
            
                .carousel-control-prev-icon {
                    background-image: url(/images/icon-angle-left.svg);
                    transform: scale(0.5);
                    width:25px;
                }
            }
            .right {
                position: absolute;
                background-color: black;
                border: none;
                width:100px;
                height:100px;
                margin:0 0 0 4em;
            
                .carousel-control-next-icon {
                    background-image: url(/images/icon-angle-right.svg);
                    transform: scale(0.5);
                    width:25px;
                }
            }
        }    
    }
}

main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.45fr;

    .imageOne {
        background-image: url(/images/image-about-dark.jpg);

    }

    
    .about {
        background-color: white;
    }

    .imageTwo {
        background-image: url(/images/image-about-light.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

